<div class="content-wrapper">
    <div class="content-wrapper">
      <div class="form-group">
        <p class="login-box-msg">Мої публікації</p>
        <hr />
        <div class="col table-margin-top">
          <p-table #dt [value]="publications" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
              <tr>
                <th>Назва</th>
                <th>Характер роботи</th>
                <th>Вихідні дані</th>
                <th>Обсяг (стор.)</th>
                <th>Співавтори</th>
                <th>Дата публікації</th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-publicationListItem>
              <tr>
                <td>{{publicationListItem.name}}</td>
                <td>{{publicationListItem.output}}</td>
                <td>{{publicationListItem.output}}</td>
                <td>{{publicationListItem.pages}}</td>
                <td>{{publicationListItem.collaboratorsName}}</td>
                <td>{{publicationListItem.publishedAt | date:'M/d/yy' }}</td>
                <td><button class="btn btn-primary btn-block btn-flat" (click)="addPublication()">Редагувати</button></td>
                <td><a class="btn btn-primary btn-block btn-flat a-font-color" (click)="sendMessage(publicationListItem.publicationId)">Відправити до DSpace</a></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
</div>
