<p-toast key="error" position="top-center"></p-toast>
<div class="hold-transition login-page">
  <div class="header-widget">
    <div class="site-logo">
      <a href="http://www.hneu.edu.ua/" title="Харківский  національний економічний університет імені Семена Кузнеця" rel="home">
        <img class="header-image" src="http://www.ei.hneu.edu.ua/images/logo2.png" style="width: 120px;float:left">
      </a>
      <div class="login-logo">
        <p class="main-title" itemprop="headline">
          <!--<c title="ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА">ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧІВ <br>ХАРКІВСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ ІМЕНІ СЕМЕНА КУЗНЕЦЯ</c><br>-->
        </p>
      </div>
    </div>
  </div>

  <form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <div class="container body-content" style="width: 600px;margin-top: 15%;">
      <div id="background-img" class="background-img">
        <!--<img id="house" src="~/Content/Images/house.png" style="height: 450px;">-->
      </div>


      <label for="usr" style="color: white">Авторизуйтеся для подальшої роботи</label>

      <div class="form-group has-feedback">
        <input type="text" pInputText placeholder="Електронна адреса" formControlName="email"  [(ngModel)]="loginModel.email">
        <!--@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Електронна адреса" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-warning" })-->
        <p-message severity="error" [text]="getErrorMessage('email')"
                   *ngIf="!this.userform.controls['email'].valid && this.userform.controls['email'].dirty"></p-message>

      </div>
      <div class="form-group has-feedback">
        <input type="password" pInputText placeholder="Пароль" formControlName="password"  [(ngModel)]="loginModel.password">
        <p-message severity="error" [text]="getErrorMessage('password')"
                   *ngIf="!this.userform.controls['password'].valid && this.userform.controls['password'].dirty"></p-message>
      </div>
      <!--@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
      @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-warning" })-->

    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            <!--@Html.CheckBoxFor(m => m.RememberMe) Запам'ятати мене-->
          </label>
        </div>
      </div>
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Увійти</button>
      </div>
    </div>
  </form>
</div>

