<div class="col">
  <div class="profile-content">
    <div class="content-wrapper">
      <div class="form-group">
        <p class="login-box-msg">Користувачі</p>
        <hr />
        <div class="col table-height">

          <!--<p-table #dt [value]="userList" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>ПIБ</th>
                <th>Електронна адреса</th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-userListItem">
              <tr>
                <td>{{userListItem.firstName}} {{userListItem.lastName}} {{userListItem.thirdName}}</td>
                <td>{{userListItem.email}}</td>
                <td><button class="btn btn-primary btn-block btn-flat">Редагувати</button></td>
                <td><button class="btn btn-primary btn-block btn-flat">Активувати</button></td>
              </tr>
            </ng-template>
          </p-table>-->
          
          <p-table #dt [value]="userList" [paginator]="true" [rows]="10" [globalFilterFields]="['fullName','email']">
            <ng-template pTemplate="caption">
              <div class="table-header-content">
                <i class="fa fa-search header-i"></i>
                <input type="text" pInputText size="50" placeholder="Введiть ПIБ або поштову скриньку" (input)="dt.filterGlobal($event.target.value, 'contains')">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                  <th>ПIБ</th>
                  <th>Електронна адреса</th>
                  <th></th>
                  <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-userListItem>
                <tr>
                  <td>{{userListItem.fullName}}</td>
                  <td>{{userListItem.email}}</td>
                  <td><button class="btn btn-primary btn-block btn-flat">Редагувати</button></td>
                  <td><button class="btn btn-primary btn-block btn-flat">Активувати</button></td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
