<!--<mat-drawer mode="side" opened>Open</mat-drawer>-->
<!--<p-sidebar *ngIf="!isShowHeader" modal="false" [(visible)]="display">
  Content
</p-sidebar>-->
<div class="container container-margin">
  <div class="list-group">
    <a routerLink="/home" class="item list-group-item list-group-item-action noHover">
      <div class="profile-userpic">
        <img class="profile-logo img-responsive" alt="">
      </div>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          {{userProfile.firstName}} {{userProfile.lastName}}
        </div>
      </div>
    </a>
    <a routerLink="/user" class="item list-group-item list-group-item-action">Нові користувачі</a>
    <a routerLink="/user-list" class="item list-group-item list-group-item-action">Користувачі</a>
    <a routerLink="/home" class="item list-group-item list-group-item-action">Результати НДР студентів</a>
    <a routerLink="/home" class="item list-group-item list-group-item-action">Розподілення навантаження по кафедрі</a>
    <a routerLink="/home" class="item list-group-item list-group-item-action">Навантаження на викладача</a>
    <a routerLink="/home" class="item list-group-item list-group-item-action">Файл навантаження</a>
  </div>
</div>
