.profile-content {
  margin-top: 2%;
  font-family: verdana;
  font-size: 16px;
}

.button-margin {
  margin-left: 84%;
}

.login-box-msg {
  text-align: center;
}

.table-margin-top {
  margin-top: 1%;
}
