li:hover ul {
  display: block;
}

body {
  margin: 0px;
  background-color: #CCCCCC;
}

.content {
  background-color: #FFFFFF;
  padding-right: 6px;
  padding-left: 6px;
}

.footer {
  background: #073ea2;
  border-bottom: 1px solid #062969;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: #FFFFFF;
  position: absolute;
}

#content {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

#wrapper {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100%;
  position: relative;
  height: auto;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

#content-spacer-top {
  height: 10px;
}

#content-spacer-bottom {
  height: 1%;
}

#header {
  background: #073ea2;
  height: 35px;
  width: 100%;
}

#mainnav a {
  font-family: Verdana;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #073ea2;
  /*float: left;*/
  text-align: center;
  width: 14.28%;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
  display: block;
  list-style-type: none;
  clear: none;
  margin: 0px;
  height: 2%;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-color: #073ea2;
  border-right-color: #073ea2;
  border-bottom-color: #073ea2;
  border-left-color: #073ea2;
}

#mainnav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#mainnav a:hover, #mainnav a:active, #mainnav a:focus {
  color: #073ea2;
  text-decoration: none;
  background-color: #FFFFFF;
}

.style2 {
  font-size: small;
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
  background-color: #073ea2;
}

.style4 {
  font-size: x-small
}

.style5 {
  background-color: #073ea2;
  font-family: arial;
}

body {
  font-family: verdana;
  background-color: #ABC;
  padding: 50px;
}

h1 {
  text-align: center;
  border-bottom: 2px solid #009;
  margin-bottom: 50px;
}

ul#navmenu, ul.sub1 {
  list-style-type: none;
}

  ul#navmenu li {
    outline: 1px solid red;
    width: 125px;
    text-align: center;
    position: relative;
    float: left;
    margin-right: 4px;
  }

  ul#navmenu a {
    text-decoration: none;
    display: block;
    width: 125px;
    height: 25px;
    line-height: 25px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
  }

  ul#navmenu .sub1 a {
    margin-top: 0px;
  }

  ul#navmenu li:hover > a {
    background-color: #CFC;
  }

  ul#navmenu li:hover a:hover {
    background-color: #FF0;
  }

  ul#navmenu ul.sub1 {
    display: none;
    position: absolute;
    top: 26px;
    left: 0px;
  }

  ul#navmenu li:hover .sub1 {
    display: block;
  }

li ul {
  display: none;
}

li:hover ul {
  display: block;
}

.header-widget {
  padding: 20px;
}

.serchheder {
  background: url(~/hneu-background.jpg);
  height: 160px;
  width: 100%;
  background-size: 100%;
}

.menu {
  width: 100%;
  margin-left: 0.2px;
}

.main-title {
  color: white !important;
  font-size: 40px;
  font-family: Verdana;
  margin-top: 3%;
  margin-left: 25%;
  line-height: 30px;
  margin-bottom: -10px;
  text-shadow: 1px 1px 1px #1f1f1f;
}

.youtube-logo {
  height: 35px;
  content: url('../../../images/hneu-youtube.png');
}

.facebook-logo {
  height: 35px;
  content: url('../../../images/hneu-facebook.png');
}

.twitter-logo {
  height: 35px;
  content: url('../../../images/hneu-twitter.png');
}

.scholar-logo {
  height: 30px;
  content: url('../../../images/hneu-google.png');
  margin: 1px;
}

.orcid-logo {
  height: 31px;
  content: url('../../../images/hneu-orcid.png');
  margin: 2px;
}

.footer-top {
  float: right;
  height: 20px;
}
