body {
  margin: 0px;
  background-color: #CCCCCC;
}

.content {
  background-color: #FFFFFF;
  padding-right: 6px;
  padding-left: 6px;
}

#content {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

#wrapper {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100%;
  position: relative;
  height: auto;
  min-height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

#content-spacer-top {
  height: 10px;
}

#content-spacer-bottom {
  height: 1%;
}

#header {
  background: #073ea2;
  height: 35px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #073ea2;
  font-family: Verdana;
  font-size: 16px;
  height: 2%;
}

  ul:after {
    display: block;
    clear: both;
    content: '';
  }

li {
  float: left;
  margin-left: 3%;
}

  li a, .dropbtn {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-family: Verdana;
    font-size: 16px;
    height: 35px;
  }

    li a:hover, .dropdown:hover .dropbtn {
      background-color: #073ea2;
      color: #FFFFFF;
    }

  li.dropdown {
    display: inline-block;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #073ea2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 150;
}

  .dropdown-content a {
    color: #FFFFFF;
    background-color: #073ea2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Verdana;
    height: auto;
  }

    .dropdown-content a:hover {
      background-color: #002d7e;
      color: #FFFFFF;
    }

.dropdown:hover .dropdown-content {
  display: block;
}

.header-widget {
  padding: 20px;
  text-align: center;
}

.serchheder {
  background: url(~/hneu-background.jpg);
  height: 160px;
  width: 100%;
  background-size: 100%;
}

.main-title {
  color: white !important;
  font-size: 40px;
  font-family: Verdana;
  margin-top: 3%;
  line-height: 30px;
  margin-bottom: -10px;
  text-shadow: 1px 1px 1px #1f1f1f;
}

.youtube-logo {
  height: 35px;
  content: url('../../../images/hneu-youtube.png');
}

.facebook-logo {
  height: 35px;
  content: url('../../../images/hneu-facebook.png');
}

.twitter-logo {
  height: 35px;
  content: url('../../../images/hneu-twitter.png');
}

.scholar-logo {
  height: 30px;
  content: url('../../../images/hneu-google.png');
  margin: 1px;
}

.orcid-logo {
  height: 31px;
  content: url('../../../images/hneu-orcid.png');
  margin: 2px;
}

.footer-top {
  float: right;
  height: 20px;
}
