<div id="wrapper">
  <div id="header">
    <header>
      <div class="footer-top">
        <a class="social-link" href="https://www.youtube.com/user/MrBAlexN" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="youtube-logo">
        </a>
        <a class="social-link" href="https://www.facebook.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="facebook-logo">
        </a>
        <a class="social-link" href="https://twitter.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="twitter-logo">
        </a>
        <a class="social-link" href="https://scholar.google.com.ua/" title="Google Scholar">
          <img class="scholar-logo">
        </a>
        <a class="social-link" href="https://orcid.org" title="ORCID">
          <img class="orcid-logo">
        </a>
      </div>
    </header>
  </div>
  <div class="serchheder">
    <div class="inside-header grid-container grid-parent">
      <div class="header-widget">
        <div class="site-logo">
          <a href="http://www.hneu.edu.ua/" title="Харківский  національний економічний університет імені Семена Кузнеця" rel="home">
            <img class="background-logo">
          </a>
        </div>
        <div class="site-branding">
          <p class="main-title" title="ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА">
            ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <nav id="mainnav">
      <ul>
        <li class="menu"><a href="#">Головна</a></li>
        <li class="menu"><a href="#">Публікації</a></li>
        <li class="menu">
          <a href="#">Індивідуальний план</a>
          <ul>
            <li class="menu"><a href="#">Навчальна робота</a></li>
            <li class="menu"><a href="#">Методична робота</a></li>
            <li class="menu"><a href="#">Наукова робота</a></li>
            <li class="menu"><a href="#">Організаційна робота</a></li>
          </ul>
        </li>
        <li class="menu">
          <a href="#">Звіти</a>
          <ul>
            <li class="menu"><a href="#">Звіт за кафедрою</a></li>
            <li class="menu"><a href="#">Звіт за півріччя</a></li>
            <li class="menu"><a href="#">Індивідуальний план викладача</a></li>
          </ul>
        </li>
        <li class="menu">
          <a href="#">Адміністративний модуль</a>
          <ul>
            <li class="menu"><a href="#">Список курсів</a></li>
            <li class="menu"><a href="#">Список кафедр</a></li>
            <li class="menu"><a href="#">Список факультетів</a></li>
            <li class="menu"><a href="#">Список робіт індив-го плану</a></li>
            <li class="menu"><a href="#">Список індексів цитувань</a></li>
            <li class="menu"><a href="#">Список спеціалізацій</a></li>
            <li class="menu"><a href="#">Список спеціальностей</a></li>
            <li class="menu"><a href="#">Список предметів</a></li>
          </ul>
        </li>
        <li><a href="http://services.hneu.edu.ua:8081/schedule/selection.jsf">Розклад занять</a></li>
        <li><a href="#">Вийти</a></li>
      </ul>
    </nav>
  </div>
</div>
