<div id="wrapper">
  <div id="header">
    <header>
      <div class="footer-top">
        <a class="social-link" href="https://www.youtube.com/user/MrBAlexN" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="youtube-logo">
        </a>
        <a class="social-link" href="https://www.facebook.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="facebook-logo">
        </a>
        <a class="social-link" href="https://twitter.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="twitter-logo">
        </a>
        <a class="social-link" href="https://scholar.google.com.ua/" title="Google Scholar">
          <img class="scholar-logo">
        </a>
        <a class="social-link" href="https://orcid.org" title="ORCID">
          <img class="orcid-logo">
        </a>
      </div>
    </header>
  </div>
  <div class="serchheder">
    <div class="inside-header grid-container grid-parent">
      <div class="header-widget">
        <div class="site-logo">
          <a href="http://www.hneu.edu.ua/" title="Харківский  національний економічний університет імені Семена Кузнеця" rel="home">
            <img class="background-logo">
          </a>
        </div>
        <div class="site-branding">
          <p class="main-title" title="ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА">
            ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul>
      <li><a routerLink="/home">Головна</a></li>
      <li><a routerLink="/publication">Публікації</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn dropdown-toggle">Індивідуальний план</a>
        <span class="caret"></span>
        <div class="dropdown-content">
          <a routerLink="/training-job">Навчальна робота</a>
          <a routerLink="/plan-methodical-work">Методична робота</a>
          <a routerLink="/plan-scientific-work">Наукова робота</a>
          <a routerLink="/plan-management">Організаційна робота</a>
        </div>
      </li>
      <li><a routerLink="/reports">Звіти</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn dropdown-toggle">Адміністративний модуль</a>
        <span class="caret"></span>
        <div class="dropdown-content">
          <a routerLink="/home">Список курсів</a>
          <a routerLink="/home">Список кафедр</a>
          <a routerLink="/home">Список факультетів</a>
          <a routerLink="/home">Список робіт індив-го плану</a>
          <a routerLink="/home">Список індексів цитувань</a>
          <a routerLink="/home">Список спеціалізацій</a>
          <a routerLink="/home">Список спеціальностей</a>
          <a routerLink="/home">Список предметів</a>
        </div>
      </li>
      <li><a routerLink="/dashboard">Розклад занять</a></li>
      <li><a (click)="logout()">Вийти</a></li>
    </ul>
  </div>
</div>
