<div id="wrapper">
  <div id="header">
    <header>
      <div class="footer-top">
        <a class="social-link" href="https://www.youtube.com/user/MrBAlexN" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="youtube-logo">
        </a>
        <a class="social-link" href="https://www.facebook.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="facebook-logo">
        </a>
        <a class="social-link" href="https://twitter.com/eihneu" title="Харківский  національний економічний університет імені Семена Кузнеця">
          <img class="twitter-logo">
        </a>
        <a class="social-link" href="https://scholar.google.com.ua/" title="Google Scholar">
          <img class="scholar-logo">
        </a>
        <a class="social-link" href="https://orcid.org" title="ORCID">
          <img class="orcid-logo">
        </a>
      </div>
    </header>
  </div>
  <div class="serchheder">
    <div class="inside-header grid-container grid-parent">
      <div class="header-widget">
        <div class="site-logo">
          <a href="http://www.hneu.edu.ua/" title="Харківский  національний економічний університет імені Семена Кузнеця" rel="home">
            <img class="background-logo">
          </a>
        </div>
        <div class="site-branding">
          <p class="main-title" title="ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА">
            ПЛАНУВАЛЬНИК НАВАНТАЖЕННЯ ВИКЛАДАЧА
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul>
      <li><a href="#">Головна</a></li>
      <li><a href="#">Публікації</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn dropdown-toggle">Індивідуальний план</a>
        <span class="caret"></span>
        <div class="dropdown-content">
          <a href="#">Навчальна робота</a>
          <a href="#">Методична робота</a>
          <a href="#">Наукова робота</a>
          <a href="#">Організаційна робота</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn dropdown-toggle">Звіти</a>
        <div class="dropdown-content">
          <a href="#">Звіт за кафедрою</a>
          <a href="#">Звіт за півріччя</a>
          <a href="#">Індивідуальний план викладача</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn dropdown-toggle">Адміністративний модуль</a>
        <span class="caret"></span>
        <div class="dropdown-content">
          <a href="#">Список курсів</a>
          <a href="#">Список кафедр</a>
          <a href="#">Список факультетів</a>
          <a href="#">Список робіт індив-го плану</a>
          <a href="#">Список індексів цитувань</a>
          <a href="#">Список спеціалізацій</a>
          <a href="#">Список спеціальностей</a>
          <a href="#">Список предметів</a>
        </div>
      </li>
      <li><a href="http://services.hneu.edu.ua:8081/schedule/selection.jsf">Розклад занять</a></li>
      <li><a (click)="logout()">Вийти</a></li>
    </ul>
  </div>
</div>
