<p-table [value]="dayEntry" [scrollable]="true" scrollHeight="200px">
  <ng-template pTemplate="header" class="tabl">
    <tr >
      <th>Факультет</th>
      <th>Спеціальність</th>
      <th>Спеціалізація</th>
      <th>Курс</th>
      <th>Навчальний ступінь</th>
      <th>Кількість студентів</th>
      <th>К-ть іноземців</th>
      <th>Шифр груп</th>
      <th>К-ть підгруп (17)</th>
      <th>Реальна к-ть студентів</th>
      <th>К-ть підгруп</th>
      <th>К-ть потоків</th>
      <th>Об`єднання потоків</th>
      <th>Примітки</th>
      <th>Дисципліна</th>
      <th>К-ть кредитів ЄКТС</th>
      <th>К-ть годин</th>
      <th>Мова викладання</th>
      <th>К-ть тижнів (1 сем.)</th>
      <th>К-ть тижнів (2 сем.)</th>
      <th>Коефіцієнт (1 сем.)</th>
      <th>Коефіцієнт (2 сем.)</th>
      <th>Департамент</th>
      <th>КР, КП, ДР</th>
      <th>Практика</th>
      <th>К-ть членів ДЕК</th>
      <th>Всього годин</th>
      <th>Всього</th>
      <th>Лекції</th>
      <th>Лабораторні</th>
      <th>Практичні</th>
      <th>Сам. Робота</th>
      <th>КР(КП), ДР</th>
      <th>Екзамен</th>
      <th>Залік</th>
      <th>Семестр</th>
      <th>Лекції</th>
      <th>Практичні</th>
      <th>Лабораторні</th>
      <th>Семестрові консультації</th>
      <th>Екзаменаційні консультації</th>
      <th>Перевірка контр. робіт</th>
      <th>КР, КП</th>
      <th>Проведення заліку</th>
      <th>Проведення екзамену</th>
      <th>Керівництво пр. Підготовкою</th>
      <th>Участь у ДЕК</th>
      <th>Проведення держ. екзамену</th>
      <th>Керівництво дипломними роботами</th>
      <th>Інше</th>
      <th>Всього за семестр</th>
      <th>АКТИВНІ</th>
      <th>Бонус</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dayE>
    <tr>
      <td>{{dayE.faculty}}</td>
      <td>{{dayE.specialty}}</td>
      <td>{{dayE.specialization}}</td>
      <td>{{dayE.course}}</td>
      <td>{{dayE.educationDegree}}</td>
      <td>{{dayE.studentsCount}}</td>
      <td>{{dayE.foreignersCount}}</td>
      <td>{{dayE.groupsCipher}}</td>
      <td>{{dayE.quantityOfGroupsA}}</td>
      <td>{{dayE.realQuantityOfGroups}}</td>
      <td>{{dayE.quantityOfGroupsB}}</td>
      <td>{{dayE.quantityOfThreads}}</td>
      <td>{{dayE.conflatedThreads}}</td>
      <td>{{dayE.notes}}</td>
      <td>{{dayE.subject}}</td>
      <td>{{dayE.quantityOfCredits}}</td>
      <td>{{dayE.hours}}</td>
      <td>{{dayE.language}}</td>
      <td>{{dayE.quantityOfWeeksFs}}</td>
      <td>{{dayE.quantityOfWeeksSs}}</td>
      <td>{{dayE.coeficientFs}}</td>
      <td>{{dayE.coeficientSs}}</td>
      <td>{{dayE.departmentCipher}}</td>
      <td>{{dayE.projects}}</td>
      <td>{{dayE.practices}}</td>
      <td>{{quantityOfMembers}}</td>
      <td>{{dayE.des.totalHours}}</td>
      <td>{{dayE.des.total}}</td>
      <td>{{dayE.des.lectures}}</td>
      <td>{{dayE.des.labs}}</td>
      <td>{{dayE.des.practices}}</td>
      <td>{{dayE.des.independentWorks}}</td>
      <td>{{dayE.des.courses}}</td>
      <td>{{dayE.des.exam}}</td>
      <td>{{dayE.des.evaluation}}</td>
      <td>{{dayE.dd.Semester}}</td>
      <td>{{dayE.dd.lecture}}</td>
      <td>{{dayE.dd.practice}}</td>
      <td>{{dayE.dd.lab}}</td>
      <td>{{dayE.dd.consultInSemester}}</td>
      <td>{{dayE.dd.consultForExam}}</td>
      <td>{{dayE.dd.verifyingOfTests}}</td>
      <td>{{dayE.dd.kr_kp}}</td>
      <td>{{dayE.dd.controlEvaluation}}</td>
      <td>{{dayE.dd.controlExam}}</td>
      <td>{{dayE.dd.practicePreparation}}</td>
      <td>{{dayE.dd.dek}}</td>
      <td>{{dayE.dd.stateExam}}</td>
      <td>{{dayE.dd.managedDiploma}}</td>
      <td>{{dayE.dd.other}}</td>
      <td>{{dayE.dd.total}}</td>
      <td>{{dayE.dd.active}}</td>
      <td>{{dayE.dd.englishBonus}}</td>
    </tr>
  </ng-template>
</p-table>
