<div class="col" *ngIf="!isEdit">
  <div class="profile-content">
    <div class="content-wrapper">
      <div class="form-group">
        <p class="login-box-msg">Організаційна робота</p>
        <hr />
          <div class="col table-margin-top" *ngIf="planManagementField">
            <div *ngFor="let indField of planManagementField">
              <span>{{indField.displayName + indField.suffix}}</span>
              <div class="form-group input-width">
                <input type="text" pInputText placeholder="Плановий об'єм" class="form-control"  [(ngModel)]="indField.plannedValue">
              </div>
              <div class="form-group input-width">
                <input type="text" pInputText placeholder="Фактичний об'єм" class="form-control"  [(ngModel)]="indField.result">
              </div>
            </div>
          </div>
          <div class="row row-margin">
            <div class="col">
              <div class="btn-float btn-margin-right">
                <a class="btn btn-primary btn-block btn-flat a-font-color" (click)="updateIndivPlanFieldValue()">Зберегти</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
